.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px;
  background-color: #2C3B04;
}

.callout {
  color: #FBF8EF;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.3ch;
}

.link {
  color: #FBF8EF;

  &:hover {
    color: #F27EB1;
  }
}

.creditSubheading {
  color: #FBF8EF;
  font-size: 16px;
}

.tenenbaums {
  font-family: 'Futura', 'Jost', 'Trebuchet MS', 'Arial', sans-serif;
  font-size: 14px;
  color: #F27EB1;
}

.phantomThread {
  font-family: 'Passions Conflict', cursive;
  font-size: 20px
}

.copyright {
  font-family: 'Passions Conflict', cursive;
  margin-top: 16px;
  color: #FBF8EF;
}

/* BREAKPOINTS */
// mobile
@media only screen and (max-width: 600px) {
  .footerContainer {
    flex-direction: column;
    justify-content: center;
  }
}
