.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FBF8EF;
}

.navLinkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 8px 0;
  height: 8vh;
}

.burger {
  color:#B98404;
  display: none;
  font-size: 30px;

  &:hover {
    cursor: pointer;
  }
}

.navLink {
  text-decoration: none;
  font-size: 24px;
  color: #B98404;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

/* BREAKPOINTS */
/* mobile */
@media only screen and (max-width: 600px) {
  .navLinkContainer {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .burger {
    margin: 16px 0;
    display: block;
  }

  .navLink {
    margin-bottom: 16px;
  }

  .hidden {
    display: none;
  }
}