.splashBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/phantomThread.jpeg");
  color: #FBF8EF;
  height: 92vh;
  width: 100%;
}

.splashBigText {
  margin: 0;
  font-size: 80px;
  letter-spacing: 0.1ch;
  font-weight: bold;
  text-align: center;
}

.splashSmText {
  margin: 0 0 22px;
  font-size: 24px;
  letter-spacing: 0.1ch;
}

.splashLink {
  font-size: 24px;
  color: #FFFFFF;

  &:visited {
    color: #FFFFFF;
  }
}

/* BREAKPOINTS */
/* mobile */
@media only screen and (max-width: 600px) {
  .splashSmText {
    font-size: 18px;
  }
  .splashBigText {
    font-size: 60px;
  }
  .splashLink {
    font-size: 18px;
  }
  .splashBackground {
    height: 400px;
  }
}
