body {
  text-align: center;
  margin: 0;
  width: 100%;
  font-family: "Futura", "Jost", "Trebuchet MS", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbf8ef;
}
