body {
  text-align: center;
  margin: 0;
  width: 100%;
  font-family: "Futura", "Jost", "Trebuchet MS", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbf8ef;
}

.dashed-divider {
  margin-top: 64px;
  width: 60%;
  border: 6px dashed #f27eb1;
}
